.form_item {
  border: none;
}
.form_item .table {
  width: 100%;
  margin: 0 auto;
}
.form_item .table .tr {
  display: flex;
  width: 100%;
  height: auto;
}
@media (max-width: 1000px) {
  .form_item .table .tr {
    flex-direction: column;
    align-items: center;
  }
}
.form_item .table .tr .container_image {
  width: 35%;
}
@media (max-width: 1000px) {
  .form_item .table .tr .container_image {
    width: 80%;
  }
}
.form_item .table .tr .container_image .imagen {
  width: 100%;
  height: auto;
}
.form_item .table .tr .container_textos {
  width: 65%;
  height: auto;
  padding: 1rem;
}
@media (max-width: 1000px) {
  .form_item .table .tr .container_textos {
    width: 95%;
  }
}
.form_item .table .tr .container_textos .pTitulo {
  font-size: 2.1rem;
  font-size: 2.3rem;
  margin-top: 2rem;
}
.form_item .table .tr .container_textos .ventajas {
  /*  margin-top: 3rem; */
  margin-top: 7rem;
  font-size: 1.65rem;
  text-transform: uppercase;
}
.form_item .table .tr .container_textos .pDescripcion {
  font-size: 1.7rem;
  line-height: 1.5;
  margin-top: 7rem;
}
.form_item .table .tr .container_textos .list_beneficios {
  margin: 2.5rem 1rem;
  list-style-type: none;
}
.form_item .table .tr .container_textos .list_beneficios .span_titulo {
  color: rgba(0, 0, 0, 0.8823529412);
  font-weight: 600;
  margin-left: 1rem;
}
.form_item .table .tr .container_textos .list_beneficios .span_descripcion {
  margin-top: 5rem;
}
.form_item .table .tr .container_textos .submitValue {
  width: 50%;
  height: 5rem;
  background-color: #ec0b43;
  margin: 2rem auto;
  border: none;
  font-size: 2.3rem;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  transition: all 2s;
  -webkit-box-shadow: 0px 8px 20px -7px rgb(17, 18, 18);
  -moz-box-shadow: 0px 8px 20px -7px rgb(17, 18, 18);
  box-shadow: 0px 8px 20px -7px rgb(17, 18, 18);
}
.form_item .table .tr .container_textos .submitValue:hover {
  background-color: #a7052e;
}
@media (max-width: 1000px) {
  .form_item .table .tr .container_textos .submitValue {
    width: 100%;
    margin: 3rem auto;
  }
}
.form_item .table .tr .descuento {
  width: 10rem;
  height: 11rem;
  color: red;
  font-size: 7rem;
  text-align: center;
  margin: 2rem;
  border: 3px solid #ee0e19;
  border-radius: 1rem;
}

.container_lead {
  width: 31%;
  height: auto;
  background-color: rgb(61, 54, 61);
  margin: 2rem;
  border-radius: 0.5rem;
}
@media (max-width: 1000px) {
  .container_lead {
    width: 90%;
    margin: 4rem auto;
  }
}
.container_lead .p_lead {
  color: #fff;
  text-align: center;
  padding: 0.7rem;
}
.container_lead .lead {
  display: flex;
  flex-direction: column;
}
.container_lead .lead .input_nombre, .container_lead .lead .input_email, .container_lead .lead .input_submit {
  height: 4rem;
  font-size: 1.7rem;
  padding-left: 1rem;
}
.container_lead .lead .input_submit {
  width: auto;
  background-color: #ec0b43;
  font-size: 1.9rem;
  border: none;
  color: #fff;
  transition: all 2s;
  -webkit-box-shadow: 0px 8px 20px -7px rgb(17, 18, 18);
  -moz-box-shadow: 0px 8px 20px -7px rgb(17, 18, 18);
  box-shadow: 0px 8px 20px -7px rgb(17, 18, 18);
}
.container_lead .lead .input_submit:hover {
  background-color: #a7052e;
}
.container_lead .msgInput_lead {
  background-color: #fff;
  height: auto;
  font-size: 1.6rem;
  text-align: center;
  color: red;
  padding-top: 2rem;
}

.container_start {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
}
.container_start .star_review {
  color: #000;
  font-size: 5rem;
  margin-left: 1rem;
}
